<div class="register-container">
    <div class="card">
        <h2>הצטרפות לפלטפורמה</h2>
        <div class="input-group">
            <label>שם מלא:</label>
            <!-- <input type="text" [(ngModel)]="name" placeholder="הכנס שם..."> -->
            <input [(ngModel)]="name" name="name" placeholder="שם מלא">

        </div>
        <div class="input-group">
            <label>מספר טלפון:</label>
            <!-- <input type="text" [(ngModel)]="phone" placeholder="הכנס טלפון..."> -->
            <input [(ngModel)]="phone" name="phone" placeholder="מספר טלפון">

        </div>
        <button (click)="onRegister()">הירשם והתחל ללמוד</button>
    </div>
</div>
